<a href="https://colab.research.google.com/github/akumar901/corise-r-for-ds/blob/main/Project_01_Explore_100%2B_Years_of_Baby_Names.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> __DUPLICATE THIS COLAB TO START WORKING ON IT. Using File > Save a copy to drive.__

## Exploring 100+ Years of US Baby Names

In this project, we will explore 100+ years of US Baby Names. Although this dataset only has 4 columns, there are so many interesting  questions one could explore. While the possibilities are endless, here are five interesting questions for you to explore.

1. Popular Names: What are the most popular names?
2. Trendy Names: What are trendy names?
3. Popular Letters: What are the most popular letters in names?
4. Popular Letter Combinations: What are the most popular letter combinations?
5. Vowels vs Consonants: Are there naming trends in usage of vowels and consonants?

You need to complete at least the first three questions. The last two questions are optional.

### Import
Let us start by importing the data from `data/names.csv.gz`. You can use the `read_csv` function from the `readr` package to do this.

In [1]:
options(repr.plot.width = 12)
options(repr.plot.height = 8)
options(jupyter.plot_mimetypes = "image/svg") 
ggplot2::theme_set(ggplot2::theme_gray(base_size = 16))

In [6]:
# Load the tidyverse package
library(tidyverse)

# Read the csv file `file_name_names` as data frame `tbl_names`
file_name_names <- "https://github.com/ramnathv/corise-r-for-ds/raw/main/data/names.csv.gz"
tbl_names <- readr::read_csv(
  file = file_name_names, 
  show_col_types = FALSE
)
print(tbl_names)
# Print head of `tbl_names`

# A tibble: 2,052,781 × 4
    year name      sex   nb_births
   <dbl> <chr>     <chr>     <dbl>
 1  1880 Mary      F          7065
 2  1880 Anna      F          2604
 3  1880 Emma      F          2003
 4  1880 Elizabeth F          1939
 5  1880 Minnie    F          1746
 6  1880 Margaret  F          1578
 7  1880 Ida       F          1472
 8  1880 Alice     F          1414
 9  1880 Bertha    F          1320
10  1880 Sarah     F          1288
# ℹ 2,052,771 more rows

### Question 1: [Popular Names] What are the most popular names?

One of the first things we want to do is to understand naming trends. Let us 
start by figuring out the top five most popular male and female names for this 
decade (born 2011 and after, but before 2021). Do you want to make any guesses?  

#### Transform

The first step is always to transform the data into a form that is easy to visualize. If we create a table with `sex`, `name` and `nb_births` for the top 5 names for each `sex`, then we can turn it into a column plot using `ggplot2`. Let us get the five most popular male and female names of the decade starting in 2011.

In [3]:
tbl_names_popular = tbl_names |> 
  # Keep ROWS for year > 2010 and <= 2020
  filter(year > 2010, year <= 2020) |> 
  # Group by sex and name
  group_by(sex, name) |> 
  # Summarize the number of births
  summarize(
    nb_births = sum(nb_births),
    .groups = "drop"
  ) |> 
  # Group by sex 
  group_by(sex) |>  
  # For each sex, keep the top 5 rows by number of births
  slice_max(sex, n = 5)

tbl_names_popular

      sex name        nb_births
1     F   Aabha         46
2     F   Aabidah        5
3     F   Aabriella     46
4     F   Aada          13
5     F   Aadaya         9
6     F   Aadhira      164
7     F   Aadhvika      25
8     F   Aadhya      2143
9     F   Aadhyareddy    6
10    F   Aadhyasri     21
11    F   Aadi          11
12    F   Aadilynn       5
13    F   Aadison        5
14    F   Aaditri       53
15    F   Aadiya         5
16    F   Aadrika       33
17    F   Aadriti       24
18    F   Aadvi          7
19    F   Aadvika       87
20    F   Aadya       1304
21    F   Aafia         11
22    F   Aafiya        48
23    F   Aafiyah       33
24    F   Aagna          7
25    F   Aahana       562
26    F   Aaheli        10
27    F   Aahlani        5
28    F   Aahna         82
29    F   Aaila         60
30    F   Aailiyah      10
⋮     ⋮   ⋮           ⋮
59331 M   Zymeire        6
59332 M   Zymere       300
59333 M   Zymier       126
59334 M   Zymiere       35
59335 M   Zymir        729
59336 M   Zymire       111
59337 M   Zyn           10
59338 M   Zyon        1639
59339 M   Zyonn         49
59340 M   Zyquan        76
59341 M   Zyquez         8
59342 M   Zyran         31
59343 M   Zyre           6
59344 M   Zyree         86
59345 M   Zyrell        81
59346 M   Zyren         97
59347 M   Zyreon         7
59348 M   Zyrie         33
59349 M   Zyrin         10
59350 M   Zyrion        56
59351 M   Zyron        122
59352 M   Zyrus         67
59353 M   Zyshawn       34
59354 M   Zytaevius      5
59355 M   Zytaveon      17
59356 M   Zytavion       5
59357 M   Zyus          11
59358 M   Zyvon          7
59359 M   Zyyon          6
59360 M   Zzyzx          5

#### Visualize

Let us now visualize this data as a horizontal bar plot of number of births by name faceted by sex.

Here, when thinking about how we might label this table, look back to the statement of the question. Make sure to use this information in a way so that the title, subtitle, and caption provide your reader with concise, descriptive language so that viewers can quickly grasp the plot's purpose and findings.

In [7]:
tbl_names_popular |> 
  # Reorder the names by number of births
  mutate(name = fct_reorder(name, nb_births)) |>
  # Initialize a ggplot for name vs. nb_births
  ggplot(aes(x = nb_births, y = name)) +
  # Add a column plot layer
  geom_col() +
  # Facet the plots by sex
  facet_wrap(~ sex, scales = "free_y") +
  # Add labels (title, subtitle, caption, x, y)
  labs(
    title = 'Most popular baby names in US',
    subtitle = 'Mary is the most popular name',
    caption = 'source:ssa',
    x = 'nb_births',
    y = 'name'
  ) +
  # Fix the x-axis scale 
  scale_x_continuous(
    labels = scales::unit_format(scale = 1e-3, unit = "K"),
    expand = c(0, 0),
  ) +
  # Move the plot title to top left
  theme(
    plot.title.position = 'plot'
  )

ERROR: ignored

### Question 2: [Trendy Names] What are trendy names?

Consider the following two names `Elizabeth` and `Deneen`. `Elizabeth` is a 
fairly stable name, while `Deneen` is not, when one looks at trends. An interesting question to ask would be what are the top 5 stable and top 5 
trendiest names. A stable name is one whose numbers across years don't vary drastically, while a trendy name is one whose popularity peaks for a short period 
and then dies down.

There are many ways to capture trendiness. A simple measure would be to look at the maximum number of births for a name, normalized by the sum of 
of births across years. A trendy name would have a high value.

Let us use this idea to figure out the top 10 trendy names in this data set. Let
us use a cutoff of at least a 1000 births across all the years, so we don't pick up low-volume names. Feel free to experiment with this threshold as you see fit.

#### Transform

We need to transform the data into a table that consists of the columns `sex`, `name`, `nb_births_total`, `nb_births_max` and `trendiness`. We compute 
`nb_births_total` as the total number of births across all years, and `nb_births_max` as the maximum number of births for a given name across all years. Finally, we compute trendiness as a ratio of these two numbers. Follow the recipe outlined below to carry out the transformation.

In [8]:
tbl_names_popular_trendy = tbl_names |> 
  # Group by sex and name
  group_by(sex, name) |> 
  # Summarize total number of births and max births in a year
  summarize(
    nb_births_total = sum(nb_births),
    nb_births_max = sum(nb_births),
    .groups = "drop"
  ) |> 
  # Filter for names with at least 10000 births
  filter(name > 10000) |> 
  # Add a column for trendiness computed as ratio of max to total
  mutate(trendiness = nb_births_max / nb_births_total) |> 
  # Group by sex
  group_by(sex) |> 
  # Slice top 5 rows by trendiness for each group
  slice_max(trendiness, n = 5)

tbl_names_popular_trendy

       sex name        nb_births_total nb_births_max trendiness
1      F   Aabha         51              51          1
2      F   Aabidah        5               5          1
3      F   Aabriella     51              51          1
4      F   Aada          13              13          1
5      F   Aadaya         9               9          1
6      F   Aaden          5               5          1
7      F   Aadhini        7               7          1
8      F   Aadhira      200             200          1
9      F   Aadhirai       5               5          1
10     F   Aadhvika      31              31          1
11     F   Aadhya      2408            2408          1
12     F   Aadhyareddy   14              14          1
13     F   Aadhyasri     21              21          1
14     F   Aadi          16              16          1
15     F   Aadilynn       5               5          1
16     F   Aadison       11              11          1
17     F   Aaditri       65              65          1
18     F   Aadiya         5               5          1
19     F   Aadrika       33              33          1
20     F   Aadriti       32              32          1
21     F   Aadvi         12              12          1
22     F   Aadvika      102             102          1
23     F   Aadya       1577            1577          1
24     F   Aadyn         16              16          1
25     F   Aafia         16              16          1
26     F   Aafiya        56              56          1
27     F   Aafiyah       43              43          1
28     F   Aafreen        5               5          1
29     F   Aagna          7               7          1
30     F   Aagot          5               5          1
⋮      ⋮   ⋮           ⋮               ⋮             ⋮
112591 M   Zyquez       38              38           1
112592 M   Zyran        41              41           1
112593 M   Zyre          6               6           1
112594 M   Zyree       122             122           1
112595 M   Zyreion       5               5           1
112596 M   Zyrek         5               5           1
112597 M   Zyrell      145             145           1
112598 M   Zyren       144             144           1
112599 M   Zyreon       14              14           1
112600 M   Zyrese        5               5           1
112601 M   Zyrian       10              10           1
112602 M   Zyrie        39              39           1
112603 M   Zyrin        10              10           1
112604 M   Zyrion      101             101           1
112605 M   Zyron       246             246           1
112606 M   Zyrus       107             107           1
112607 M   Zysean        5               5           1
112608 M   Zyshaun      34              34           1
112609 M   Zyshawn     146             146           1
112610 M   Zyshon       19              19           1
112611 M   Zyshonne    101             101           1
112612 M   Zytaevius     5               5           1
112613 M   Zytaveon     17              17           1
112614 M   Zytavion      5               5           1
112615 M   Zytavious    43              43           1
112616 M   Zyus         11              11           1
112617 M   Zyvion        5               5           1
112618 M   Zyvon         7               7           1
112619 M   Zyyon         6               6           1
112620 M   Zzyzx        10              10           1


Note: There are always several different approaches to the same transformation. When it comes to learning, there's no one-size-fits-all solution. One way to make your learning stick is by trying to solve a problem in different ways. Even if you don't get to the final answer, you will learn a lot by exploring different approaches.

#### Visualize

Let us write a function that will accept a name as an argument and return a plot with trends in number of births. We can then use this function to plot the trends for different names.

In [9]:
plot_trends_in_name <- function(my_name) {
  tbl_names |> 
    # Filter for name = my_name
    filter(name == my_name) |> 
    # Initialize a ggplot of `nb_births` vs. `year` colored by `sex`
    ggplot(aes(x = nb_births, y = year, color = sex)) +
    # Add a line layer
    geom_line() +
    # Add labels (title, x, y)
    labs(
      title = glue::glue("Babies named {my_name} across the years!"),
      x = 'nb_births',
      y = 'year'
    ) +
    # Update plot theme
    theme(plot.title.position = "plot")
}
plot_trends_in_name("Steve")
plot_trends_in_name("Barbara")

ERROR: ignored

ERROR: ignored

### Question 3: [Popular Letters] What are the most popular letters in names?

Have you ever wondered why some letters seem to be more prevalent in names than others? In this question, you will embark on a journey to uncover the reasons behind the popularity of specific letters in names. This investigation will lead you to interesting insights about how the popularity of letters in names has changed over time and the potential factors that have influenced these trends.

1. How have the first and last letters in names changed over the years by sex?
2. What are the trends in percentage of names with a given first or last letter across years.
3. What are the most popular combinations of first and last letters?

#### Transform

Let us start by transforming the data and adding two columns, one for `first_letter` and one for `last_letter`. You can use the `str_sub()` function from the `stringr` package to do this.

In [11]:
tbl_names = tbl_names |> 
  # Add NEW column first_letter by extracting `first_letter` from name using `str_sub`
  mutate(first_letter = str_sub(name, 1, 1)) |>  
  # Add NEW column last_letter by extracting `last_letter` from name using `str_sub`
  mutate(last_letter = str_sub(name, -1, -1)) |> 
  # UPDATE column `last_letter` to upper case using `str_to_upper`
  mutate(last_letter = str_to_upper(last_letter))

tbl_names

        year name      sex nb_births first_letter last_letter
1       1880 Mary      F   7065      M            Y
2       1880 Anna      F   2604      A            A
3       1880 Emma      F   2003      E            A
4       1880 Elizabeth F   1939      E            H
5       1880 Minnie    F   1746      M            E
6       1880 Margaret  F   1578      M            T
7       1880 Ida       F   1472      I            A
8       1880 Alice     F   1414      A            E
9       1880 Bertha    F   1320      B            A
10      1880 Sarah     F   1288      S            H
11      1880 Annie     F   1258      A            E
12      1880 Clara     F   1226      C            A
13      1880 Ella      F   1156      E            A
14      1880 Florence  F   1063      F            E
15      1880 Cora      F   1045      C            A
16      1880 Martha    F   1040      M            A
17      1880 Laura     F   1012      L            A
18      1880 Nellie    F    995      N            E
19      1880 Grace     F    982      G            E
20      1880 Carrie    F    949      C            E
21      1880 Maude     F    859      M            E
22      1880 Mabel     F    808      M            L
23      1880 Bessie    F    796      B            E
24      1880 Jennie    F    793      J            E
25      1880 Gertrude  F    787      G            E
26      1880 Julia     F    783      J            A
27      1880 Hattie    F    769      H            E
28      1880 Edith     F    768      E            H
29      1880 Mattie    F    704      M            E
30      1880 Rose      F    700      R            E
⋮       ⋮    ⋮         ⋮   ⋮         ⋮            ⋮
2052752 2021 Zayre     M   5         Z            E
2052753 2021 Ze        M   5         Z            E
2052754 2021 Zecharia  M   5         Z            A
2052755 2021 Zedd      M   5         Z            D
2052756 2021 Zedric    M   5         Z            C
2052757 2021 Zehaan    M   5         Z            N
2052758 2021 Zekhi     M   5         Z            I
2052759 2021 Zeki      M   5         Z            I
2052760 2021 Zeland    M   5         Z            D
2052761 2021 Zemariam  M   5         Z            M
2052762 2021 Zennon    M   5         Z            N
2052763 2021 Zeon      M   5         Z            N
2052764 2021 Zero      M   5         Z            O
2052765 2021 Zeven     M   5         Z            N
2052766 2021 Zevon     M   5         Z            N
2052767 2021 Zevyn     M   5         Z            N
2052768 2021 Zeyd      M   5         Z            D
2052769 2021 Zhair     M   5         Z            R
2052770 2021 Zhayd     M   5         Z            D
2052771 2021 Zhen      M   5         Z            N
2052772 2021 Zhion     M   5         Z            N
2052773 2021 Zierre    M   5         Z            E
2052774 2021 Zinedine  M   5         Z            E
2052775 2021 Zuhayr    M   5         Z            R
2052776 2021 Zvi       M   5         Z            I
2052777 2021 Zyeire    M   5         Z            E
2052778 2021 Zyel      M   5         Z            L
2052779 2021 Zyian     M   5         Z            N
2052780 2021 Zylar     M   5         Z            R
2052781 2021 Zyn       M   5         Z            N

Begin by computing the distribution of births across year and sex by first letter of a name.

In [12]:
tbl_names_by_letter = tbl_names |> 
  # Group by year, sex and first_letter
  group_by(year, sex, first_letter) |> 
  # Summarize total number of births, drop the grouping
  summarise(nb_births = sum(nb_births), .groups = "drop") |> 
  # Group by year and sex
  group_by(year, sex) |> 
  # Add NEW column pct_births by dividing nb_births by sum(nb_births)
  mutate(pct_births = nb_births / sum(nb_births))
  
tbl_names_by_letter

     year sex first_letter nb_births pct_births
1    1880 F   A             9334     1.025782e-01
2    1880 F   B             3876     4.259622e-02
3    1880 F   C             5868     6.448777e-02
4    1880 F   D             2218     2.437523e-02
5    1880 F   E            11444     1.257665e-01
6    1880 F   F             2957     3.249665e-02
7    1880 F   G             2463     2.706772e-02
8    1880 F   H             2743     3.014484e-02
9    1880 F   I             2480     2.725454e-02
10   1880 F   J             3800     4.176100e-02
11   1880 F   K             1514     1.663846e-02
12   1880 F   L             8713     9.575357e-02
13   1880 F   M            19780     2.173770e-01
14   1880 F   N             3025     3.324395e-02
15   1880 F   O              968     1.063806e-02
16   1880 F   P             1064     1.169308e-02
17   1880 F   Q               28     3.077126e-04
18   1880 F   R             2648     2.910082e-02
19   1880 F   S             3958     4.349737e-02
20   1880 F   T              503     5.527837e-03
21   1880 F   U               15     1.648460e-04
22   1880 F   V              930     1.022045e-02
23   1880 F   W              467     5.132207e-03
24   1880 F   Y                7     7.692815e-05
25   1880 F   Z              191     2.099039e-03
26   1880 M   A             7406     6.702869e-02
27   1880 M   B             2115     1.914200e-02
28   1880 M   C             9949     9.004435e-02
29   1880 M   D             2488     2.251787e-02
30   1880 M   E             6894     6.239479e-02
⋮    ⋮    ⋮   ⋮            ⋮         ⋮
7284 2021 F   W             14755    0.009068292
7285 2021 F   X              4511    0.002772421
7286 2021 F   Y              7663    0.004709612
7287 2021 F   Z             29163    0.017923321
7288 2021 M   A            178603    0.102984125
7289 2021 M   B             86616    0.049943579
7290 2021 M   C            123065    0.070960406
7291 2021 M   D             85049    0.049040032
7292 2021 M   E            108760    0.062712012
7293 2021 M   F             20545    0.011846435
7294 2021 M   G             53591    0.030901061
7295 2021 M   H             50065    0.028867937
7296 2021 M   I             31565    0.018200668
7297 2021 M   J            202846    0.116962861
7298 2021 M   K             93478    0.053900271
7299 2021 M   L            133493    0.076973286
7300 2021 M   M            126777    0.073100779
7301 2021 M   N             57482    0.033144648
7302 2021 M   O             38869    0.022412221
7303 2021 M   P             23784    0.013714072
7304 2021 M   Q              3157    0.001820355
7305 2021 M   R             81843    0.047191423
7306 2021 M   S             70301    0.040536200
7307 2021 M   T             59261    0.034170435
7308 2021 M   U              2523    0.001454785
7309 2021 M   V             11066    0.006380757
7310 2021 M   W             49106    0.028314969
7311 2021 M   X              7208    0.004156199
7312 2021 M   Y              8288    0.004778937
7313 2021 M   Z             26936    0.015531544

#### Visualize

Visualize the distribution of births by first letter for the year 2020, faceted by sex.

In [13]:
tbl_names_by_letter |> 
  # Filter for the year 2020
   filter(year == 2020) |>
  # Initialize a ggplot of pct_births vs. first_letter
   ggplot(aes(x = first_letter, y = pct_births)) +
  # Add a column layer using `geom_col()`
   geom_col() +
  # Facet wrap plot by sex
   facet_wrap(~ sex, scales = "free_y") +
  # Add labels (title, subtitle, x, y)
   labs(
         title = 'title',
         subtitle = 'subtile',
         caption = 'caption',
         x = 'first_letter',
         y = 'pct_births'
     ) +
  # Fix scales of y axis
  scale_y_continuous(
    expand = c(0, 0),
    labels = scales::percent_format(accuracy = 1L)
  ) +
  # Update plotting theme
  theme(
    plot.title.position = "plot",
    axis.ticks.x = element_blank(),
    panel.grid.major.x = element_blank()
  )

ERROR: ignored

Write a function that plot trends in the percentage of births for all names starting with a specific first letter.

In [14]:
plot_trends_in_letter <- function(my_letter) {
  tbl_names_by_letter |> 
    # Filter for first_letter = my_letter
    filter(first_letter == my_letter) |> 
    # Initialize a ggplot of pct_births vs. year colored by sex
    ggplot(aes(x = pct_births, y = year, color = sex)) +
    # Add a line layer
    geom_line() +
    # Add labels (title, subtitle, caption, x, y)
    labs(
      title = glue::glue("Trends in Names beginning with {my_letter}"),
      subtitle = "subtile",
      caption = "caption",
      x = "pct_births",
      y = 'year'
    ) +
    # Update y-axis scales to display percentages
    scale_y_continuous(labels = scales::percent_format()) +
    # Update theme
    theme(plot.title.position = "plot")
}

plot_trends_in_letter("S")

ERROR: ignored

__Bonus__: How do these plots change when you focus on the `last_letter` instead of the `first_letter`. Feel free to go back and change `first_letter` to  `last_letter` and see what you find. Try to make an educated guess before you run the code, so you can see if your intuition matches up!


### Question 4: [Unveiling Letter Combinations] What secrets do the most popular letter combinations hold?

Are you ready to explore the fascinating realm of letter combinations in names? This question will guide you through the process of analyzing the joint distribution of births by first and last letters. By examining these intriguing patterns, you'll be able to unveil the most popular letter combinations and how they have evolved over the years.

#### Transform

In [15]:
tbl_names_by_first_and_last_letter = tbl_names |> 
  # Filter for sex = "F"
  filter(sex == "F") |>
  # Group by `first_letter`, `last_letter`, and `year`
  group_by(first_letter, last_letter, year) |> 
  # Summarize total number of births
  summarize( nb_births = sum(nb_births), 
             .groups = "drop"
             ) |> 
  # Group by `year`
  group_by(year) |> 
  # Add NEW column pct_births by dividing nb_births by sum(nb_births)
  mutate(pct_births = nb_births / sum(nb_births)) |>
  # Ungroup data
  ungroup()

tbl_names_by_first_and_last_letter

      first_letter last_letter year nb_births pct_births
1     A            A           1880  4784     0.05257490
2     A            A           1881  4966     0.05400585
3     A            A           1882  5728     0.05311228
4     A            A           1883  6051     0.05387334
5     A            A           1884  7038     0.05455011
6     A            A           1885  7203     0.05413551
7     A            A           1886  7785     0.05386313
8     A            A           1887  7814     0.05352715
9     A            A           1888  9444     0.05287143
10    A            A           1889  9365     0.05250440
11    A            A           1890  9809     0.05152408
12    A            A           1891  9593     0.05171986
13    A            A           1892 10648     0.05014623
14    A            A           1893 10638     0.04996595
15    A            A           1894 10929     0.04902612
16    A            A           1895 11430     0.04892414
17    A            A           1896 11374     0.04780639
18    A            A           1897 10866     0.04639624
19    A            A           1898 11548     0.04462650
20    A            A           1899 10435     0.04478118
21    A            A           1900 12598     0.04202233
22    A            A           1901 10454     0.04367754
23    A            A           1902 10950     0.04146549
24    A            A           1903 10826     0.04132534
25    A            A           1904 11303     0.04104778
26    A            A           1905 11739     0.04025472
27    A            A           1906 11536     0.03906549
28    A            A           1907 12224     0.03837195
29    A            A           1908 12811     0.03832038
30    A            A           1909 12907     0.03717154
⋮     ⋮            ⋮           ⋮    ⋮         ⋮
43550 Z            Y           1992  255      0.0001383053
43551 Z            Y           1993  244      0.0001348882
43552 Z            Y           1994  252      0.0001411339
43553 Z            Y           1995  313      0.0001780043
43554 Z            Y           1996  446      0.0002544496
43555 Z            Y           1997  488      0.0002803784
43556 Z            Y           1998  593      0.0003356476
43557 Z            Y           1999  681      0.0003839681
43558 Z            Y           2000  814      0.0004483095
43559 Z            Y           2001  981      0.0005449319
43560 Z            Y           2002 1323      0.0007364594
43561 Z            Y           2003 1620      0.0008868660
43562 Z            Y           2004 1858      0.0010121673
43563 Z            Y           2005 2470      0.0013372017
43564 Z            Y           2006 3152      0.0016586200
43565 Z            Y           2007 3343      0.0017396463
43566 Z            Y           2008 3753      0.0019859244
43567 Z            Y           2009 4397      0.0023950458
43568 Z            Y           2010 5661      0.0031870998
43569 Z            Y           2011 6865      0.0039057566
43570 Z            Y           2012 8022      0.0045595970
43571 Z            Y           2013 7715      0.0044015867
43572 Z            Y           2014 7850      0.0043996644
43573 Z            Y           2015 7380      0.0041399946
43574 Z            Y           2016 6867      0.0038814943
43575 Z            Y           2017 6500      0.0037723957
43576 Z            Y           2018 6344      0.0037385447
43577 Z            Y           2019 6048      0.0036149979
43578 Z            Y           2020 5729      0.0035602183
43579 Z            Y           2021 5593      0.0034374082

#### Visualize

Now, you will visualize the distribution of `pct_births` by `last_letter` and `first_letter` by plotting a heatmap of the percentage of births by first letter and last letter for the year 2021.

In [16]:
tbl_names_by_first_and_last_letter |> 
  # Filter for the year 2021
  filter(year == "2021") |>
  # Initialize a ggplot of last_letter vs. first_letter
  ggplot(aes(x = last_letter, y = first_letter)) +
  # Add a `geom_tile` layer with fill mapped to pct_births
  geom_tile(aes(fill = pct_births), color = 'black') +
  # Add labels (title, subtitle, x, y, fill)
  labs(
             title = "title",
             subtitle = "subtitle",
             caption = "caption",
             x = "last_letter",
             y = 'first_letter',
             fill = "% of births"
         ) +
  # Update fill scale to use Viridis colors
  scale_fill_viridis_b(direction = -1) +
  # Update plotting theme
  theme(
    plot.title.position = "plot",
    panel.grid = element_blank(),
    axis.ticks = element_blank()
  )

ERROR: ignored

### Question 5: [Vowels vs Consonants] Are there naming trends in usage of vowels and consonants?

Do certain combinations of vowels and consonants tend to appear more often in names? Are there any notable changes in these patterns over the years? In this question, we'll explore the fascinating world of vowel and consonant usage in names across time. This can help us understand how the structure of names has evolved and what factors may have influenced these changes. By diving into these linguistic aspects, you'll gain a greater appreciation for the intricacies and diversity of names in our dataset. Let's dive in and uncover the trends in the usage of vowels and consonants!

#### Transform

In this step, you will create a function to identify whether a letter is a vowel or a consonant. Then, you will use this function to categorize the first and last letters in names as either vowels or consonants. After that, you will group the data by sex, year, and letter type (vowel or consonant) to calculate the percentage of births for each combination of first and last letter types.

In [ ]:
get_letter_type <- function(letter) {
  VOWELS <- c("A", "E", "I", "O", "U")
  ifelse(letter %in% VOWELS, 'vowel', 'consonant')
}

tbl_names_vowel_consonant <- tbl_names |> 
  # Add NEW column named `first_letter_type`
  
  # Add NEW column named `last_letter_type`
  
  # Group by `sex`, `year`, `first_letter_type` and `last_letter_type`
  
  # Summarize the total number of births
  
  
  
  
  # Group by `sex` and` `year`
  
  # Add NEW column with `pct_births` calculated as `nb_births / sum(nb_births)`
   
  # Ungroup the data
  
  # Unite `first_letter_type` and `last_letter_type` into a NEW column named `first_last`
 

head(tbl_names_vowel_consonant)

#### Visualize

Now, you will create a visualization to display the trends in the usage of vowels and consonants in names over time. The visualization will show the percentage of births by the combination of first and last letter types, separately for each sex.

In [ ]:
tbl_names_vowel_consonant |> 
  # Reorder `first_last` by the median `pct_births`
  mutate(first_last = fct_reorder(first_last, pct_births, median)) |>
  # Initialize a ggplot of `pct_births` vs. `year`
  
  # Add an area layer with fill = first_last
  
  # Facet wrap plot by `sex`
  
  # Add labels (title, subtitle, caption, x, y)
  
  
  
  




  # Clean up x and y axis scales
  scale_x_continuous(
    expand = c(0, 0)
  ) +
  scale_y_continuous(
    expand = c(0, 0),
    labels = scales::percent_format()
  ) +
  # Use Viridis colors for fill
  scale_fill_viridis_d() +
  # Update plotting theme
  theme(
    plot.title.position = 'plot',
    legend.position = 'bottom'
  )

__Note__: The fct_reorder() function is a useful tool for reordering the levels of a factor based on the values of another variable. This function can be particularly helpful when creating visualizations, as it allows you to display data in a more organized and informative manner. In this exercise, fct_reorder() is used to reorder the levels of the first_last factor according to the median of the pct_births variable. By doing so, the resulting plot will show the trends in vowels and consonants usage in a more structured way, making it easier to identify and interpret the patterns.

## MORE BONUS

You can turn your plots into a beautiful dashboard with minimal effort. An Rmarkdown dashboard template has been provided for you. Open the file [project-01-explore-babynames-flexdashboard.Rmd](project-01-explore-babynames-flexdashboard.Rmd). It has placeholders for code, where you can paste the completed code chunks from this document. Pay close attention to the labels of the chunks referred to.